<link rel="stylesheet" href="styles/footer.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="push"></div>
<footer class="p-4 text-center">
    <p class="lead text-center">© 2023 All Rights Reserved</p>
    <div class="container">
        <a href="#"><i class="bi bi-facebook h1 text-light p-2"></i></a>
        <a href="#"><i class="bi bi-instagram h1 text-light p-2"></i></a>
        <a href="#"><i class="bi bi-twitter h1 text-light p-2"></i></a>
        <a href="#"><i class="bi bi-twitch h1 text-light p-2"></i></a>
    </div>
</footer>