<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- link bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- link css -->
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="container">
        <% if (error) { %>
            <h1>
                <%= error %>
            </h1>
            <% } %>
                <form action="/signup" method="post">
                    <input type="text" name="username" placeholder="username" />
                    <br>
                    <input type="password" name="password" placeholder="password" />
                    <br>
                    <input type="email" name="email" placeholder="email" />
                    <br>
                    <button type="submit">Sign Up</button>
                </form>
                <br>
    </div>
</body>

</html>