body {
    background-color: #080710 !important;
    margin-top: 60px;
}

.formBtn {
    margin: 25px 0px !important;
    background-color: #430d4b !important;
    cursor: pointer !important;
    padding: 15px 0 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #ffffff !important;
}

.btn:hover {
    background-color: #0C0710 !important;
}

img {
    margin-top: 50px !important;
}

h1 {
    color: #ffffff !important;
    font-size: 50px !important;
    text-align: center !important;
    margin-top: 50px !important;
}

h3 {
    color: #ffffff !important;
    font-size: 30px !important;
    margin-top: 50px !important;
}