body {
    background-color: #080710 !important;
    margin-top: 60px;
}

/* .navbar {
    background-color: #0F1520 !important;
    color: #ffffff;
    border: 1px solid black;
}

.navbar-brand {
    color: #ffffff !important;
} */

.btn {
    margin-top: 50px !important;
    background-color: #430d4b !important;
    cursor: pointer !important;
    padding: 15px 0 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #ffffff !important;
}

.btn:hover {
    background-color: #0C0710 !important;
}

/* .offcanvas-header {
    background-color: #0F1520 !important;
    color: #ffffff;
}

.offcanvas-body {
    background-color: #0C0710 !important;
    color: #ffffff;
    border: 1px solid black;
} */

img {
    margin-top: 50px !important;
}

h1 {
    color: #ffffff !important;
    font-size: 50px !important;
    text-align: center !important;
    margin-top: 50px !important;
}